body
{
background-color: rgba(152, 137, 165, 0.5);
}

.introduction
{font-weight: bold;
text-decoration: overline;}

.flottant
{
	float : left;
}

.opacity_patate
{
	opacity: 0.5;
	float : left;
	max-height: 20;
	max-width: 30;
}


*
{
	color: white;
}


.autreparagraphe
{
	clear: right;
}

h1 
{
	border: 3px blue dashed;
	box-shadow: 6px 6px 6px black;
	
}

p
{
	border-left: 10px solid black;
	
}

a:hover 
{ 
	color:green
}

a:active
{color:red}

a:focus
{background-color: #77FF88}

